@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.timer {
  border: 1px solid #003b00;
  padding: 1em 2em;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.5em;
  background-color: hsl(327, 73%, 10%);
}

.timer h3 {
  margin: 0;
}

@media screen and (max-width: 480px) {
  .timer {
    font-size: 1.25em;
  }
}
