.main-container {
  display: flex;
  flex-direction: column;
  padding: 4em;
  gap: 3em;
  border: 1px solid #003b00;
  width: 50%;
  margin: 6em 0;
  align-items: center;
  justify-content: center;
  background-color: hsl(327, 73%, 3%);
}

.controllers-container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.controller-icon {
  cursor: pointer;
}

.controller-icon:hover {
  color: #00ff41;
  transition: all 0.075s ease;
}

.optionals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1em;
}

.time-spent-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

table {
  margin: 0;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #003b00;
  padding: 1rem;
  font-size: 1rem;
}

td {
  background-color: hsl(327, 73%, 10%);
}

@media screen and (max-width: 1024px) {
  .main-container {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    padding: 3em 0;
    width: 90vw;
    border: 1px solid #003b00;
  }
}
